{% load static %}
<header>
        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>
              <nav class="nav navbar-nav">
              <ul class=" navbar-right">
        {% if request.user.is_authenticated %}
                <li class="nav-item dropdown open" style="padding-left: 15px;">
                  <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                    {% if user.profile_picture %}
                    <img src="{{user.profile_picture.url}}" alt="">
                    {% else %}
                    <img src="{% static 'images/img.png' %}" alt="Profile Picture">
                    {% endif %}
                    
                    {{ request.user.username }}
                  </a>
                  <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                  <form id="logout-form" action="{% url 'logout' %}" method="post">
                      {% csrf_token %}
                      <button class="dropdown-item"  type="submit"><i class="fa fa-sign-out pull-right"></i> Log Out</button>
                  </form>
                    
                  </div>
                </li>

                <li role="presentation" class="nav-item dropdown open">
                  <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope"></i>
                    <span class="badge bg-green">1</span>
                  </a>
                  <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
                    <li class="nav-item">
                      <a class="dropdown-item">
                        <span class="image"><img src="{% static 'images/img.png' %}" alt="Profile Image" /></span>
                        <span>
                          <span>Contract Manager</span>
                          <span class="time">1 min ago</span>
                        </span>
                        <span class="message">
                          Estamos evoluindo a cada dia para o melhor desempenho...
                        </span>
                      </a>
                    </li>
                    {% comment %} <li class="nav-item">
                      <div class="text-center">
                        <a class="dropdown-item">
                          <strong></strong>
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </li> {% endcomment %}
                  </ul>
                </li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->
</header>
