<header class="navbar navbar-expand-md navbar-light bg-light shadow-sm" id="header">
  <nav class="container-xxl flex-wrap flex-md-nowrap" aria-label="Main navigation">
    <a class="navbar-brand p-0 me-2" href="/" aria-label="Página Inicial - Contracts Manager">
      <span class="h4 mb-0 d-inline-block align-middle" style="font-weight: bold; color: #343a40;">Contracts Manager</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="bdNavbar">
      {% if user.is_authenticated %}
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="#" class="nav-link" onclick="event.preventDefault(); document.getElementById('logout-form').submit();" aria-label="Logout">
            Logout
          </a>
        </li>
      </ul>
      <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
        {% csrf_token %}
        <button type="submit">Logout</button>
      </form>
      {% endif %}
    </div>
  </nav>
</header>