<div class="col-md-3 left_col">
  <div class="left_col scroll-view">
    <!-- Logo e Título -->
    <div class="navbar nav_title" style="border: 0;">
      <a href="{% url 'home' %}" class="site_title">
        <i class="fa fa-paw"></i> 
        <span>Gentelella Alela!</span>
      </a>
    </div>

    <div class="clearfix"></div>

    <!-- Informações do Usuário -->
    <div class="profile clearfix">
      <div class="profile_pic">
        <img src="#" alt="Profile Picture" class="img-circle profile_img">
      </div>
      <div class="profile_info">
        <span>Bem-vindo(a),</span>
        <h2>{{ user.get_full_name }}</h2>
      </div>
    </div>

    <br />

    <!-- Menu Lateral -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <h3>Geral</h3>
        <ul class="nav side-menu">
          <!-- Dashboard -->
          <li class="nav-item">
            <a href="#">
              <i class="fa fa-tachometer"></i> 
              Dashboard
            </a>
          </li>
          <!-- Contratos -->
          {% if perms.contracts.view_contract %}
          <li class="nav-item">
            <a href="{% url 'contracts:contract_list' %}">
              <i class="fa fa-file-text"></i>
              Contratos
            </a>
          </li>
          {% endif %}
          <!-- Partes -->
          {% if perms.parts.view_part %}
          <li class="nav-item">
            <a href="{% url 'parts:part_list' %}">
              <i class="fa fa-users"></i>
              Partes
            </a>
          </li>
          {% endif %}
          <!-- Aditivos -->
          {% if perms.addendum.view_addendum %}
          <li class="nav-item">
            <a href="{% url 'addendums:addendum_list' %}">
              <i class="fa fa-folder-plus"></i>
              Aditivos
            </a>
          </li>
          {% endif %}
          <!-- Avaliações -->
          {% if perms.evaluations.view_evaluation %}
          <li class="nav-item">
            <a href="{% url 'evaluations:evaluation_list' %}">
              <i class="fa fa-comments"></i>
              Avaliações
            </a>
          </li>
          {% endif %}
          <!-- Pastas -->
          {% if perms.folders.view_folder %}
          <li class="nav-item">
            <a href="{% url 'folders:folder_list' %}">
              <i class="fa fa-archive"></i>
              Pastas
            </a>
          </li>
          {% endif %}
          <!-- Vencimentos -->
          {% if perms.expirations.view_expiration %}
          <li class="nav-item">
            <a href="{% url 'expirations:expired_contracts' %}">
              <i class="fa fa-exclamation-circle"></i>
              Vencimentos
            </a>
          </li>
          {% endif %}
          <!-- Administração -->
          {% if user.is_staff %}
          <li class="nav-item">
            <a href="{% url 'admin:index' %}">
              <i class="fa fa-cogs"></i>
              Administração
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
    <!-- /Menu Lateral -->

    <!-- Rodapé do Sidebar -->
    <div class="sidebar-footer hidden-small">
      <a href="#" data-toggle="tooltip" data-placement="top" title="Configurações">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      </a>
      <a href="#" data-toggle="tooltip" data-placement="top" title="Tela Cheia">
        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
      </a>
      <a href="#" data-toggle="tooltip" data-placement="top" title="Bloquear">
        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
      </a>
      <a href="{% url 'logout' %}" data-toggle="tooltip" data-placement="top" title="Logout">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
      </a>
    </div>
    <!-- /Rodapé do Sidebar -->
  </div>
</div>
