{% load static %}
<div class="col-md-3 left_col">
  <div class="left_col scroll-view">
    <!-- Logo e Título -->
    <div class="navbar nav_title" style="border: 0;">
      <a href="{% url 'home' %}" class="site_title" style="line-height: 20px !important;"><i class="fa fa-folder"></i> <span>Contracts Manager!</span></a>
    </div>

    <div class="clearfix"></div>

    <!-- Informações do Usuário -->
    <div class="profile clearfix">
    {% if request.user.is_authenticated %}
      <div class="profile_pic">
      {% if user.profile_picture %}
        <img src="{{user.profile_picture.url}}" alt="Profile Picture" class="img-circle profile_img">
      {% else %}
       <img src="{% static 'images/img.png' %}" alt="Profile Picture" class="img-circle profile_img">
      {% endif %}
      </div>
      <div class="profile_info">
        <span>Bem-vindo(a),</span>
        <h2>{{ user.username }}</h2>
      </div>
    {% endif %}
    </div>

    <br />
      {% if request.user.is_authenticated %}
       
    <!-- Menu Lateral -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <h3>Geral</h3>
        <ul class="nav side-menu">
          <!-- Dashboard -->
          <li>
            <a href="{% url 'dashboards:dashboard' %}">
              <i class="fa fa-tachometer"></i> 
              Dashboard
            </a>
          </li>
          <!-- Contratos -->
          {% if perms.contracts.view_contract %}
          <li>
            <a href="{% url 'contracts:contract_list' %}">
              <i class="fa fa-file-text"></i>
              Contratos
            </a>
          </li>
          {% endif %}
          <!-- Partes -->
          {% if perms.parts.view_part %}
          <li>
            <a href="{% url 'parts:part_list' %}">
              <i class="fa fa-users"></i>
              Partes
            </a>
          </li>
          {% endif %}
          <!-- Aditivos -->
          {% if perms.addendum.view_addendum %}
          <li>
            <a href="{% url 'addendums:addendum_list' %}">
              <i class="fa fa-folder"></i>
              Aditivos
            </a>
          </li>
          {% endif %}
          <!-- Avaliações -->
          {% if perms.evaluations.view_evaluation %}
          <li>
            <a href="{% url 'evaluations:evaluation_list' %}">
              <i class="fa fa-comments"></i>
              Avaliações
            </a>
          </li>
          {% endif %}
          <!-- Pastas -->
          {% if perms.folders.view_folder %}
          <li>
            <a href="{% url 'folders:folder_list' %}">
              <i class="fa fa-archive"></i>
              Pastas
            </a>
          </li>
          {% endif %}
          <!-- Vencimentos -->
          {% if perms.expirations.view_expiration %}
          <li>
            <a href="{% url 'expirations:expired_contracts' %}">
              <i class="fa fa-exclamation-circle"></i>
              Vencimentos
            </a>
          </li>
          {% endif %}
          <!-- Administração -->
          {% if user.is_staff %}
          <li>
            <a href="{% url 'admin:index' %}">
              <i class="fa fa-cogs"></i>
              Administração
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
    <!-- /Menu Lateral -->

    <!-- /Rodapé do Sidebar -->
       {% endif %}
  </div>
</div>
