{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- FIRST LINE -->
<div class="row">

    <!-- Rascunho -->
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6">
    <a href="#" data-toggle="modal" data-target="#draftModal">
        <div class="tile-stats">
        <div class="icon"><i class="fa fa-pencil"></i></div>
        <div class="count">{{total_contract_draft}}</div>
        <h3>Rascunho</h3>
        <p>Contratos em rascunho.</p>
        {% include 'modals/_modal_draft.html'%}
        </div>
    </a>  
    </div>

    <!-- Aprovados -->
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6">
    <a href="#" data-toggle="modal" data-target="#approvedModal">
        <div class="tile-stats">
        <div class="icon"><i class="fa fa-thumbs-o-up"></i></div>
        <div class="count">{{total_contract_approved}}</div>
        <h3>Aprovados</h3>
        <p>Contratos aprovados.</p>
        {% include 'modals/_modal_approved.html'%}
        </div>
    </a>
    </div>

    <!-- Finalizado -->
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6">
    <a href="#" data-toggle="modal" data-target="#completedModal">
    <div class="tile-stats">
    <div class="icon"><i class="fa fa-file-o"></i></div>
    <div class="count">{{total_contract_completed}}</div>
    <h3>Finalizado</h3>
    <p>Contratos finalizados.</p>
    {% include 'modals/_modal_completed.html'%}
    </div>
    </a>
    </div>

    <!-- Cancelado -->
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6">
        <a href="#" data-toggle="modal" data-target="#canceledModal">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-times-circle-o"></i></div>
                <div class="count">{{total_contract_canceled}}</div>
                <h3>Cancelado</h3>
                <p>Contratos cancelados.</p>
                {% include 'modals/_modal_canceled.html'%}
                </div>
        </a>
    </div>
</div>
<!-- END FIRST LINE -->



<!-- GRÁFICO 1 -->
<div class="row">
    {% include 'includes/_contract_type.html'%}

<!-- GRÁFICO 2-->

    {% include 'includes/_expired.html'%}
</div>


<div class="row">
    {% include 'includes/_counts.html'%}

    {% include "includes/_values_by_month.html" %}
</div>


{% endblock %}
