{% extends 'base.html' %}
{% load static %}
{% block content %}



<!-- FIRST LINE -->
<div class="row">

    <!-- Rascunho -->
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6">
    <a href="#" data-toggle="modal" data-target="#draftModal">
        <div class="tile-stats">
        <div class="icon"><i class="fa fa-pencil"></i></div>
        <div class="count">{{total_contract_draft}}</div>
        <h3>Rascunho</h3>
        <p>Contratos em rascunho.</p>
        {% include 'modals/_modal_draft.html'%}
        </div>
    </a>  
    </div>

    <!-- Aprovados -->
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6">
    <a href="#" data-toggle="modal" data-target="#approvedModal">
        <div class="tile-stats">
        <div class="icon"><i class="fa fa-thumbs-o-up"></i></div>
        <div class="count">{{total_contract_approved}}</div>
        <h3>Aprovados</h3>
        <p>Contratos aprovados.</p>
        {% include 'modals/_modal_approved.html'%}
        </div>
    </a>
    </div>

    <!-- Finalizado -->
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6">
    <a href="#" data-toggle="modal" data-target="#completedModal">
    <div class="tile-stats">
    <div class="icon"><i class="fa fa-file-o"></i></div>
    <div class="count">{{total_contract_completed}}</div>
    <h3>Finalizado</h3>
    <p>Contratos finalizados.</p>
    {% include 'modals/_modal_completed.html'%}
    </div>
    </a>
    </div>

    <!-- Cancelado -->
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6">
        <a href="#" data-toggle="modal" data-target="#canceledModal">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-times-circle-o"></i></div>
                <div class="count">{{total_contract_canceled}}</div>
                <h3>Cancelado</h3>
                <p>Contratos cancelados.</p>
                {% include 'modals/_modal_canceled.html'%}
                </div>
        </a>
    </div>
</div>
<!-- END FIRST LINE -->


                  <div class="x_content">

                    <ul class="nav nav-tabs bar_tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Valores dos Contratos por Mês</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Contagem Adicional
</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Tipos e Vencimentos
</a>
                      </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
<div class="row">
    {% include "includes/_values_by_month.html" %}
</div>

                      </div>
                      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
<div class="row">
    {% include 'includes/_counts.html'%}
</div>
                      </div>
                      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">


<!-- GRÁFICO 1 -->
<div class="row">
    {% include 'includes/_contract_type.html'%}

<!-- GRÁFICO 2-->

    {% include 'includes/_expired.html'%}
</div>

                      </div>
                    </div>
                  </div>







{% endblock %}
