<!-- Modal para Finalizado -->
{% extends 'modals/_modal_base.html' %}

{% block modal_id %}completedModal{% endblock %}
{% block modal_id2 %}#completedModal{% endblock %}
{% block modal_label %}completedModalLabel{% endblock %}
{% block modal_label2 %}completedtModalLabel{% endblock %}

{% block model_tite %} Contratos Finalizados {% endblock model_tite %}

{% block content_modal %}
{% for contract in contract_completed %}
<tr>
  <td>{{ contract.subject }}</td>
  <td>{{ contract.amount|floatformat:2 }}</td>
  <td>{{ contract.owner }}</td>
  <td>
    <a href="{% url 'contracts:contract_detail' contract.id %}" class="view-contract btn btn-info btn-sm" title="Visualizar">
      <i class="fa fa-eye"></i> Ver Detalhes
    </a>
  </td>
</tr>
{% endfor %}
{% endblock %}