<!-- Modal para Rascunho -->
<div class="modal fade" id="draftModal" tabindex="-1" role="dialog" aria-labelledby="draftModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="draftModalLabel">Contratos em Rascunho</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Conteúdo do modal para rascunho -->
        <ul>
          {% for contract in contract_draft %}
            <a href="{% url 'contracts:contract_detail' contract.id %}"><li>{{ contract.subject }} - {{ contract.amount }} - {{ contract.owner }}</li></a>
          {% empty %}
            <li>p>Detalhes dos contratos em rascunho.</p></li>
          {% endfor %}
        </ul>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
