<!-- Modal -->
<div class="modal fade" id="pdfModal" tabindex="-1" aria-labelledby="pdfModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="pdfModalLabel">Contrato PDF</h5>
        </div>
        <div class="modal-body">
          <div id="pdfViewer" style="width: 100%; height: 600px; overflow-y: auto;"></div>

<script>
    var url = '{{ object.pdf.url }}'; // URL do PDF

    // Configura o PDF.js
    var pdfjsLib = window['pdfjs-dist/build/pdf'];
    pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.worker.min.js';

    // Carrega o PDF
    var loadingTask = pdfjsLib.getDocument(url);
    loadingTask.promise.then(function(pdf) {
        // Página inicial a ser exibida
        pdf.getPage(1).then(function(page) {
            var scale = 1.5;
            var viewport = page.getViewport({ scale: scale });

            // Prepara o canvas para renderizar a página
            var canvas = document.createElement('canvas');
            var context = canvas.getContext('2d');
            canvas.height = viewport.height;
            canvas.width = viewport.width;

            // Adiciona o canvas ao div #pdfViewer
            document.getElementById('pdfViewer').appendChild(canvas);

            // Renderiza a página
            var renderContext = {
                canvasContext: context,
                viewport: viewport
            };
            page.render(renderContext);
        });
    });
</script>

        </div>
      </div>
    </div>
  </div>