{% extends 'base.html' %}

{% block title %}
CManager - Pastas
{% endblock %}

{% block content %}
  <div class="container mt-4">
    <h3 class="display-4">Detalhes da Pasta</h3>

    <div class="card">
      <div class="card-body">
        <h3 class="card-title">{{ object.name }}</h3>
        <p class="card-text">{{ object.address }}</p>
        <p class="card-text">{{ object.email }}</p>
        <p class="card-text">{{ object.phone }}</p>
      </div>
    </div>

    <a href="{% url 'folders:folder_list' %}" class="btn btn-secondary mt-3">Voltar para a Lista de Pasta</a>
  </div>
{% endblock %}