{% extends 'base.html' %}

{% block title %}
CManager - Partes
{% endblock %}

{% block content %}

<div class="row mb-3">
  <div class="col-md-6">
    <form method="get" action="{% url 'parts:part_list' %}">
      <div class="input-group">
        <input type="text" class="form-control" name="name" placeholder="Nome" value="{{ request.GET.name }}">
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </form>
  </div>
  {% if perms.parts.add_part %}
  <div class="col-md-6">
    <a href="{% url 'parts:part_create' %}" class="btn btn-success float-end">
      <i class="fa fa-plus"></i> Nova Parte
    </a>
  </div>
  {% endif %}
</div>
<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Endereço</th>
        <th>Telefone</th>
        <th>Email</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
        {% for part in parts %}
      <tr>
        <td>
          <a href="{% url 'parts:part_detail' part.id %}" class="text-primary fw-semibold">
            {{ part.id }}
          </a>
        </td>
        <td>{{ part.name }}</td>
        <td>{{ part.address }}</td>
        <td>{{ part.phone }}</td>
        <td>{{ part.email }}</td>
        <td>
          <a href="{% url 'parts:part_detail' part.id %}" 
          title="Detalhes"
          data-toggle="tooltip" data-placement="top"
          data-bs-toggle="tooltip"
          class="btn btn-info btn-sm">
            <i class="fa fa-eye"></i>
          </a>

          {% if perms.parts.change_part %}
          <a href="{% url 'parts:part_update' part.id %}" 
          title="Editar"
          data-toggle="tooltip" data-placement="top"
          data-bs-toggle="tooltip" 
          class="btn btn-warning btn-sm">
            <i class="fa fa-pencil"></i>
          </a>
          {% endif %}

          {% if perms.parts.delete_part %}
          <a href="{% url 'parts:part_delete' part.id %}" 
          title="Excluir"
          data-toggle="tooltip" data-placement="top"
          data-bs-toggle="tooltip"
          class="btn btn-danger btn-sm btn-delete">
            <i class="fa fa-trash"></i>
          </a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% include 'components/_pagination.html' %}

{% endblock %}