{% load static %}
<h4>Avaliações Recentes</h4>

<ul class="messages">
  {% for evaluation in evaluations %}
  <li>
    <img src="{% static 'images/img.png' %}" class="avatar" alt="Avatar">
    <div class="message_date">
      <h3 class="date text-info">{{ evaluation.created_at|date:"d" }}</h3>
      <p class="month">{{ evaluation.created_at|date:"M" }}</p>
    </div>
    <div class="message_wrapper">
      <h4 class="heading">{{ evaluation.owner }}</h4>
      <blockquote class="message">{{ evaluation.comments }}</blockquote>
      <br />
      <p class="url">
        <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
        <i class="fa fa-star"></i> Nota: {{ evaluation.rating }}
      </p>
    </div>
  </li>
  {% empty %}
  <li>
    <p>Este contrato não possui avaliações.</p>
  </li>
  {% endfor %}
</ul>
