{% extends 'base.html' %}

{% block title %}
CManager - Contratos
{% endblock %}

{% block content %}
<div class="container mt-4">
    {% if form.instance.id %}
        <h3 class="display-4">Editar Contrato</h3>
        {% block extra_js %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const changePdfCheckbox = document.getElementById('changePdf');
                    const pdfField = document.getElementById('pdfField');
    
                    pdfField.style.display = changePdfCheckbox.checked ? 'block' : 'none';
    
                    changePdfCheckbox.addEventListener('change', function () {
                        pdfField.style.display = changePdfCheckbox.checked ? 'block' : 'none';
                    });
                });
            </script>
        {% endblock %}
    {% else %}
        <h3 class="display-4">Cadastrar Contrato</h3> 
    {% endif %}

    <div class="card shadow-lg">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {% if form.instance.pdf %}
                    <div class="mb-4">
                        <label class="form-label"><strong>Arquivo PDF Atual:</strong></label>
                        <li class="list-group-item">
                            
                            <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#pdfModal">
                                <i class="bi bi-file-earmark-pdf"></i>
                                Visualizar Documento
                            </button>
                        </li>   
                        {% include 'modals/_pdf_modal.html'%}
                        <div class="form-check mt-3">
                            <input class="form-check-input" type="checkbox" id="changePdf" name="changePdf">
                            <label class="form-check-label" for="changePdf">
                                Deseja alterar o PDF?
                            </label>
                        </div>
                    </div>
                {% endif %}

                <div id="pdfField" class="mb-4">
                    {{ form.pdf }}
                    <div class="form-text">Clique aqui para importar o PDF</div>
                </div>

                <div class="row mb-4">
                    <div class="col-md-4">
                        <label class="form-label"><strong>Objeto:</strong></label>
                        {{ form.subject }}
                    </div>
                    <div class="col-md-4">
                        <label class="form-label"><strong>Valor:</strong></label>
                        {{ form.amount }}
                    </div>
                    <div class="col-md-4">
                        <label class="form-label"><strong>Número do Contrato:</strong></label>
                        {{ form.number }}
                    </div>
                </div>

                <div class="row mb-6">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-4">
                        <div class="form-check">
                            {{ form.automatic_renewal }}
                            <label class="form-check-label"><strong>Renovação Automática</strong></label>
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="form-check">
                            {{ form.lgpd }}
                            <label class="form-check-label"><strong>LGPD</strong></label>
                        </div>
                    </div>
                </div>



                <div class="row mb-6">
                    <div class="col-md-6">
                        <label class="form-label"><strong>Status:</strong></label>
                        {{ form.status }}
                    </div>
                    <div class="col-md-6">
                        <label class="form-label"><strong>Tipo de Contrato:</strong></label>
                        {{ form.contract_type }}
                    </div>
                </div>

                <div class="row mb-6">
                    <div class="col-md-6">
                        <label class="form-label"><strong>Pasta:</strong></label>
                        {{ form.folder }}
                    </div>
                    <div class="col-md-6">
                        <label class="form-label"><strong>Setor:</strong></label>
                        {{ form.department }}
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-md-6">
                        <label class="form-label"><strong>Data Inicial:</strong></label>
                        {{ form.start_date }}
                    </div>
                    <div class="col-md-6">
                        <label class="form-label"><strong>Data Término:</strong></label>
                        {{ form.end_date }}
                    </div>
                </div>

                <div class="mb-4">
                    <label class="form-label"><strong>Descrição:</strong></label>
                    {{ form.description }}
                </div>

                <div class="mb-4">
                    <label class="form-label"><strong>Partes:</strong></label>
                    {{ form.parts }}
                </div>

                <button type="submit" class="btn btn-primary btn-block">Salvar</button>
            </form> 
        </div>
    </div>
    
    <a href="{% url 'contracts:contract_list' %}" class="btn btn-secondary mt-3">
    <i class="bi bi-arrow-left"></i>
    Cancelar e voltar para a Lista de Contrato
    </a>
</div>
{% endblock %}
