{% extends 'base.html' %}

{% block title %}
CManager - Detalhes do Aditivo
{% endblock %}

{% block content %}
  <div class="container mt-4">
    <div class="row align-items-center mb-4">
      <div class="col-md-8">
        <h3 class="display-6">Detalhes do Aditivo</h3>
      </div>
      <div class="col-md-4 text-md-end">
        {% include '_actions_addendum.html' %}
      </div>
    </div>

    <div class="card shadow-sm">
      <div class="card-header bg-primary text-white">
          <img src="{{evaluation.owner.profile_picture.url}}" alt="Foto de {{ object.owner.username }}" class="rounded-circle me-3" style="width: 50px; height: 50px;">
        <h4 class="mb-0">{{ object.title }}</h4>
      </div>
      <div class="card-body">
        <dl class="row">
          <dt class="col-sm-3">Descrição:</dt>
          <dd class="col-sm-9">{{ object.description }}</dd>

          <dt class="col-sm-3">Contrato:</dt>
          <dd class="col-sm-9">{{ object.contract }}</dd>

          <dt class="col-sm-3">Data de Vigência:</dt>
          <dd class="col-sm-9">{{ object.effective_date }}</dd>

          <dt class="col-sm-3">Criado em:</dt>
          <dd class="col-sm-9">{{ object.created_at }}</dd>

          <dt class="col-sm-3">Criado por:</dt>
          <dd class="col-sm-9">{{ object.owner.email }}</dd>
        </dl>
      </div>
    </div>

    <div class="mt-4">
    
      <a href="{% url 'addendums:addendum_list' %}" class="btn btn-secondary">
      <i class="bi bi-arrow-left"></i>
      Voltar para a Lista de Aditivos
      </a>
    </div>
  </div>
{% endblock %}